<div class="main user-show">
  <div class="container">
    <div class="user">
      <div class="img">
      　<% if @user.image? %>
    　　　　<%= image_tag @user.image.url %>
    　　<% else %>
    　　  <%= image_tag "/assets/人物アイコン.jpeg" %>
　　　　<% end %>
      </div>  
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == current_user.id %> 
        <%= link_to("編集", edit_user_path(current_user)) %><br>
        <%= link_to 'ユーザーを削除', user_path(current_user), method: :delete, data:
        { confirm: '本当にユーザーを削除しますか?' } %>
      <% end %>  
    </div>
    <% @user.posts.each do |post| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="posts-index-item">
            <div class="post-left">
              <div class="img">
              　<% if post.user.image? %>
            　　　　<%= image_tag post.user.image.url %>
            　　<% else %>
            　  　  <%= image_tag "/assets/人物アイコン.jpeg" %>
        　　　 　 　<% end %>
              </div> 
            </div>
            <div class="post-right">
              <h4 class="post-user-name">
                <%= post.user.name %><br>
              </h4>
            </div>
          <h3 class="post-title">
            <%= post.title %>
          </h3>
          <div class="post-img">
            <%= image_tag post.image.url %>
          </div>
          </div>
        </div>
      </div>  
    <% end %>
  </div>
</div>

