<div class="main post-show">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="posts-index-item">
          <%= link_to user_path(@post.user) do %>
            <div class="post-left">
              <div class="img">
              　<% if @post.user.image? %>
            　　　　<%= image_tag @post.user.image.url %>
            　　<% else %>
            　  　  <%= image_tag "/assets/人物アイコン.jpeg" %>
        　　　 　 　<% end %>
              </div> 
            </div>
            <div class="post-right">
              <h4 class="post-user-name">
                <%= @post.user.name %><br>
              </h4>
            </div>
          <% end %>
          <h3 class="post-title">
            <%= @post.title %>
          </h3>
            <%= image_tag @post.image.url %>
          <div class="post-show-link">
            <%= link_to new_post_post_detail_path(post_id: @post.id) do %>
              <%= "手順を追加" %><br>
            <% end %>
            <%= "投稿を削除" %>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>