<!DOCTYPE html>
<html>
  <head>
    <title>Oekakilog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>
    <header>
      <div class="header-logo">
        <%= link_to("Oekakilog", root_path) %>
      </div>
      <ul class="header-menus">
        <% if current_user %>
          <li>
            <%= link_to("#{current_user.name}さん", user_path(current_user) ) %>
          </li>
          <li>
            <%= link_to("イラスト投稿", new_post_path) %>
          </li>
          <li>
            <%= link_to("イラスト一覧", posts_path) %>
          </li>
          <li>
            <%= link_to("ログアウト", logout_path, {method: :delete}) %>
          </li>
        <% else %>
          <li>
            <%= link_to("ログイン", sessions_new_path) %>
          </li>
          <li>
            <%= link_to("新規登録", new_user_path) %>
          </li>
        <% end %>  
      </ul>
    </header>
  
    <%= yield %>
    
    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    </script>
  </body>
</html>
